## Import das bibliotecas

In [ ]:
#import do pandas
import pandas as pd

#

## Crie um novo dataframe com .csv orders.

In [ ]:
#criar novo dataframe a partir de um .csv
df = pd.read_csv('orders.csv')
df.head()

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_moment_delivering,order_moment_delivered,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time
0,68405119,3512.0,5.0,68405119.0,68405119.0,CANCELED,62.7,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68405123,3512.0,5.0,68405123.0,68405123.0,CANCELED,62.7,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68405206,3512.0,5.0,68405206.0,68405206.0,CANCELED,115.5,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68405465,3401.0,5.0,68405465.0,68405465.0,CANCELED,55.9,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68406064,3401.0,5.0,68406064.0,68406064.0,CANCELED,37.9,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

## Quantos registros temos na nossa base?

In [ ]:
#quantidade de registros no dataframe
len(df)

343099

## Há dados faltantes na nossa base?

In [ ]:
#informações sobre o dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343099 entries, 0 to 343098
Data columns (total 29 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           343099 non-null  int64
 1   store_id                           343098 non-null  float64
 2   channel_id                         343098 non-null  float64
 3   payment_order_id                   343098 non-null  float64
 4   delivery_order_id                  343098 non-null  float64
 5   order_status                       343098 non-null  object
 6   order_amount                       343098 non-null  float64
 7   order_delivery_fee                 343098 non-null  float64
 8   order_delivery_cost                336624 non-null  float64
 9   order_created_hour                 343098 non-null  float64
 10  order_created_minute               343098 non-null  float64
 11  order_created_day                  343098 non-null  float64
 12  order_created_month                343098 non-null  float64
 13  order_created_year                 343098 non-null  float64
 14  order_moment_created               343098 non-null  object
 15  order_moment_accepted              334618 non-null  object
 16  order_moment_ready                 320116 non-null  object
 17  order_moment_collected             303079 non-null  object
 18  order_moment_in_expedition         280301 non-null  object
 19  order_moment_delivering            319773 non-null  object
 20  order_moment_delivered             18342 non-null   object
 21  order_moment_finished              328823 non-null  object
 22  order_metric_collected_time        295114 non-null  float64
 23  order_metric_paused_time           276692 non-null  float64
 24  order_metric_production_time       320116 non-null  float64
 25  order_metric_walking_time          274223 non-null  float64
 26  order_metric_expediton_speed_time  311261 non-null  float64
 27  order_metric_transit_time          319331 non-null  float64
 28  order_metric_cycle_time            328881 non-null  float64
dtypes: float64(19), int64(1), object(9)
memory usage: 75.9+ MB

## Desde quando temos esse histórico?

In [ ]:
#type da coluna de data
df['order_moment_created'].dtype

dtype('O')

In [ ]:
#min da coluna de data
df['order_moment_created'].min()

TypeError: '<=' not supported between instances of 'str' and 'float'

In [ ]:
#max da coluna de data
df['order_moment_created'].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [ ]:
pd.to_datetime(df['order_moment_created'], format='%m/%d/%yyyy')

In [ ]:
#cast da coluna de data para o formato correto
#pd.to_datetime(df['order_moment_created'])
df['order_moment_created'] = pd.to_datetime(df['order_moment_created'])

<ipython-input-28-bc4e87e8ad31>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['order_moment_created'] = pd.to_datetime(df['order_moment_created'])

In [ ]:
#min da coluna de data
df['order_moment_created'].min()

Timestamp('2021-01-01 00:01:36')

In [ ]:
#max da coluna de data
df['order_moment_created'].max()

Timestamp('2021-04-30 23:59:48')

## Quantas lojas atendemos na nossa base?

In [ ]:
#contagem das lojas únicas
len(df['store_id'].unique())

951

## Quais são as principais lojas em quantidade de atendimento?

In [ ]:
#ranking das maiores lojas por pedidos

#df['store_id'].value_counts()
#df['store_id'].value_counts().head(3)
df['store_id'].value_counts().tail()

store_id
2317    1
446     1
1123    1
1162    1
2908    1
Name: count, dtype: int64

In [ ]:
#group by com contagem agregada
#df.groupby('store_id') \
df.groupby(['store_id', 'order_status']) \
  .agg({'order_id': 'count'}) \
  .sort_values('order_id', ascending=False) \
  .head()

                       order_id
store_id order_status
53       FINISHED         13903
676      FINISHED         12277
707      FINISHED          9190
149      FINISHED          8013
274      FINISHED          7865

## Qual a distribuição entre os status?

In [ ]:
#distribuição entre status
df['order_status'].value_counts()

order_status
FINISHED    352020
CANCELED     16979
Name: count, dtype: int64

In [ ]:
#distribuição entre status por porcentagem
df['order_status'].value_counts(normalize=True)

order_status
FINISHED    0.953986
CANCELED    0.046014
Name: proportion, dtype: float64

## Qual o nome das lojas da tabela orders?

In [ ]:
#criação de um novo dataframe a partir de stores
df_stores = pd.read_csv('stores.csv', encoding='latin1')
df_stores.head()

,store_id,hub_id,store_name,store_segment,store_plan_price,store_latitude,store_longitude
0,3,2,CUMIURI,FOOD,0.0,NaN,NaN
1,6,3,PIMGUCIS DA VIVA,FOOD,0.0,-30.037415,-51.203520
2,8,3,RASMUR S,FOOD,0.0,-30.037415,-51.203520
3,53,8,PAPA SUCIS,FOOD,0.0,-22.921475,-43.234822
4,54,8,VUZPI PAZZIS,FOOD,0.0,-22.921475,-43.234822

In [ ]:
#informações sobre o dataframe
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   store_id          951 non-null    int64
 1   hub_id            951 non-null    int64
 2   store_name        951 non-null    object
 3   store_segment     951 non-null    object
 4   store_plan_price  836 non-null    float64
 5   store_latitude    935 non-null    float64
 6   store_longitude   935 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 52.1+ KB

In [ ]:
#criação de um novo dataframe a partir de id e name
df_stores_name = df_stores[['store_id', 'store_name']].copy()

NameError: name 'df_stores' is not defined

In [ ]:
#merge/join com orders
df_orders_stores = df.merge(df_stores_name, on=['store_id'], how='left')

In [ ]:
#análise dos registros
df_orders_stores.head()

NameError: name 'df_orders_stores' is not defined

In [ ]:
#informações sobre o dataframe
df_orders_stores.info()

NameError: name 'df_orders_stores' is not defined

In [ ]:
#group by com contagem agregada
df_orders_stores.groupby(['store_name']) \
  .agg({'order_id': 'count'}) \
  .sort_values('order_id', ascending=False) \
  .head()

NameError: name 'df_orders_stores' is not defined

In [ ]:
#cast como string
df_orders_stores['store_name'] = df_orders_stores['store_name'].astype(str)

In [ ]:
#procura as lojas em stores
stores_list = df_orders_stores['store_name'].unique()
stores_list

In [ ]:
#remove os espaços nas bordas
stores_list = [x.strip() for x in stores_list]
stores_list

In [ ]:
#procura as lojas em stores
stores_list = df_orders_stores['store_name'].unique()
stores_list

#Exercícios

## 1 - Quais lojas possuem mais valores repedidos em df_stores?

## 2 - Quais lojas possuem maior valor de pedidos?

## 3 - Quais lojas tem o maior tempo de produção do pedido?

## 4 - Num cenário de negócio, quais alternativas você recomenda para diminuir o tempo de produção dos pedidos?
Pode utilizar o Google, ChatGPT para pesquisar sobre o assunto. Consegue indicar algum artigo ciêntifíco, reposítório, ou análise no Kaggle que já tratou sobre este problema?

## 5 - Quais são os principais Shoppings/Cidades em número de Pedidos. Faça o upload do .csv de hubs e realize os joins entre os dataframes de orders, stores e hubs para chegar no resultado.

In [ ]:
#1
df_stores.groupby('store_name').sort_values('order_id', ascending=False)

NameError: name 'df_stores' is not defined

In [ ]:
#2
df_stores.groupby('store_name')['order_id'].sort_values(ascending=False)

NameError: name 'df_stores' is not defined

In [ ]:
#3
df_stores.groupby('store_id')['production_time'].mean().sort_values(ascending=False)

NameError: name 'df_stores' is not defined

In [ ]:
#4
#Otimização de processos, automatização

In [ ]:
#5
#não consegui nem dar upload